---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import Banner from "../components/Banner.astro";
import CategoryHome from "../components/Category-home.astro";
import Whysec from "../components/Whysec.astro";
import Testimonial from "../components/Testimonial.astro";
import Jobs from "../components/Jobs.astro";
import Learnmore from "../components/Learnmore.astro";
---

<Layout title="Home">
  <Header />
  <main>
    <Banner />
    <CategoryHome />
    <Whysec />
    <Testimonial />
	<Jobs />
	<Learnmore />
  </main>
  <Footer />
</Layout>
