---
import piechart from "../images/placeholders/piechart.png";
---

<!-- Hero Banner -->
<section class="herobanner">
  <div class="container">
    <div class="herobanner__wrapper">
      <div class="herobanner__textsec">
        <h1>Learn more about your personality</h1>
        <p>
          Take this amazing test and know your personality. Korem ipsum dolor
          sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
          interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad
          litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
          tempus urna at turpis condimentum lobortis.
        </p>
        <a href="" class="btn btn--primary">Start quiz</a>
      </div>
      <div class="herobanner__imgsec">
        <img src={piechart} alt="" />
      </div>
    </div>
  </div>
</section>
<!--  -->
