---
---

<!-- Learn More -->
<section class="section--pad">
    <div class="container text-center">
        <h2>Learn more about your personality</h2>
        <h4>Let’s get to know you</h4>
        <a href="" class="btn btn--primary">Start quiz</a>
    </div>
</section>
<!--  -->