---
import user1 from "../images/placeholders/user1.png";
---

<!-- Testimonials -->
<section class="section--pad testimonial">
  <div class="container">
    <h3>See what our participants have to say</h3>
    <p>
      Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
      libero et velit interdum, ac aliquet odio mattis. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Curabitur tempus urna at turpis condimentum lobortis. Ut commodo efficitur
      neque.
    </p>
    <div class="slider--testimonial">
      <div class="card card--2">
        <div class="card__head">
          <div class="card__head--img">
            <img src={user1} alt="Img" />
          </div>
          <div class="card__head--text">
            <h6>John doe</h6>
            <p>Personality Type</p>
          </div>
        </div>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis. Class
          aptent taciti sociosqu.
        </p>
      </div>
      <div class="card card--2">
        <div class="card__head">
          <div class="card__head--img">
            <img src={user1} alt="Img" />
          </div>
          <div class="card__head--text">
            <h6>John doe</h6>
            <p>Personality Type</p>
          </div>
        </div>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis. Class
          aptent taciti sociosqu.
        </p>
      </div>
      <div class="card card--2">
        <div class="card__head">
          <div class="card__head--img">
            <img src={user1} alt="Img" />
          </div>
          <div class="card__head--text">
            <h6>John doe</h6>
            <p>Personality Type</p>
          </div>
        </div>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis. Class
          aptent taciti sociosqu.
        </p>
      </div>
      <div class="card card--2">
        <div class="card__head">
          <div class="card__head--img">
            <img src={user1} alt="Img" />
          </div>
          <div class="card__head--text">
            <h6>John doe</h6>
            <p>Personality Type</p>
          </div>
        </div>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis. Class
          aptent taciti sociosqu.
        </p>
      </div>
    </div>
  </div>
</section>
<!--  -->
