---
import reason1 from "../images/placeholders/reason1.png";
import reason2 from "../images/placeholders/reason2.png";
import reason3 from "../images/placeholders/reason3.png";
---

<!-- Why section -->
<section class="section--pad bg--blue whysec">
  <div class="container">
    <h3>Why take our test?</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h5>
    <div class="whysec__wrap">
      <div class="whysec__item">
        <div class="whysec__item--img">
          <img src={reason1} alt="Img" />
        </div>
        <h4>Reason 01</h4>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio
        </p>
      </div>
      <div class="whysec__item">
        <div class="whysec__item--img">
          <img src={reason2} alt="Img" />
        </div>
        <h4>Reason 02</h4>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio
        </p>
      </div>
      <div class="whysec__item">
        <div class="whysec__item--img">
          <img src={reason3} alt="Img" />
        </div>
        <h4>Reason 03</h4>
        <p>
          Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio
        </p>
      </div>
    </div>
  </div>
</section>
<!--  -->
