---
import headerlogo from "../images/lattitude-logo.svg";
---

<!--===========================================
	Header 
===============================================-->
<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__left">
        <a href="/">
          <img src={headerlogo} alt="Lattitude" title="Lattitude" />
        </a>
      </div>
      <div class="header__right">
        <nav class="navigation" role="navigation">
          <ul class="navigation__menu">
            <li class="navigation__list"><a href="">Why choose us</a></li>
            <li class="navigation__list"><a href="">Executive search</a></li>
            <li class="navigation__list"><a href="">Our services</a></li>
            <li class="navigation__list"><a href="">Latitude live</a></li>
            <li class="navigation__list"><a href="">Learn from us</a></li>
            <li class="navigation__list"><a href="">Success stories</a></li>
          </ul>
        </nav>
        <div class="header__tools">
          <a href="" class="btn btn--white">Join Latitude</a>
          <a href="" class="btn btn--white">View Live Jobs</a>
        </div>
        <div class="menubtn"><button></button></div>
      </div>
    </div>
  </div>
</header>

<!--  -->